https://github.com/iqoptionapi/iqoptionapi/archive/refs/heads/master.zip
websocket-client==0.56
pandas==2.1.4
numpy==1.26.2
ta==0.11.0
groq
textblob
nltk
requests
beautifulsoup4
lxml
supabase
python-telegram-bot==20.7
yfinance
flask
APScheduler
pytz
python-dotenv
loguru
colorama
aiohttp
google-auth
google-auth-oauthlib
google-api-python-client
matplotlib
Pillow
websocket-client